package mainpage

import "github.com/koyo-os/murocami/internal/view/layout"

templ Mainpage() {
    @layout.MainPageLayout(layout.LayoutProps{
        Title: "Murocami",
    }){
        <h1 class="font-mono font-bold">
            Murocami CI
        </h1>
    }
}